@page 
@model FreshHarvestAdminPanel.Pages.Admin.CategoryPageModel

@{
}


<div>
	<h2>All Categories</h2>
	<div class="d-flex justify-content-end">
		<button class="btn btn-outline-info" onclick="location.href='/Admin/AddCategoryPage'">+ Add Category</button>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Category ID</th>
				<th>Category Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var category in Model.GetCategories)
			{
				<tr>
					<td>@category.Id</td>
					<td>@category.Name</td>

					<td><a asp-page="/Admin/EditCategoryPage" asp-route-id="@category.Id" class="btn btn-outline-primary">Edit</a></td>
					<form method="post" asp-page-handler="Delete" asp-route-id="@category.Id" onsubmit="return confirm('Are you sure you want to delete @category.Name');">
						<td><button type="submit" class="btn btn-outline-danger">Delete</button></td>
					</form>
				</tr>

			}
			
			
		</tbody>
    
	</table>
</div>
