@page
@model FreshHarvestAdminPanel.Pages.Admin.ProductPageModel
@{
}


<div>
	<h2>All Products</h2>

	<div class="d-flex justify-content-end">
		<button class="btn btn-outline-info" onclick="location.href='/Admin/AddProductPage'">+ Add Product</button>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Category ID</th>
				<th>Category Name</th>
				<th>Price</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			
			@foreach(var product in Model.Products)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.CategoryId</td>
					<td>@product.Category?.Name</td>
					<td>@product.Price</td>
					<td>@product.Description</td>
					<td><a asp-page="/Admin/EditProductPage" asp-route-id="@product.Id" class="btn btn-outline-primary">Edit</a></td>
					<form method="post" asp-page-handler="Delete" asp-route-id="@product.Id" onsubmit="return confirm('Are you sure you wqant to delete Product @product.Name');">
						<td><button type="submit" class="btn btn-outline-danger">Delete</button></td>
					</form>
				</tr>
			}

			


		</tbody>

	</table>
</div>
